@{
    
}

<style>
    .custom-Card {
        border-radius: 0.7rem;
        border: none;
    }
    .custom-Icon {
        width: 28px;
        height: 28px;
    }
</style>

<div id="main-content">
    <div class="page-heading">
        <h3>Dashboard</h3>
    </div>
    <div class="page-content">
        <section class="row">
            <div class="col-sm-12">
                <div class="row">
                    <div class="col-sm-3">
                        <div class="card custom-Card">
                            <div class="card-body">
                                <div class="row">
                                    <div class="col-sm-3 px-4">
                                        <div class="stats-icon green">
                                            <i class="bi bi-eye-fill custom-Icon"></i>
                                        </div>
                                    </div>
                                    <div class="col-sm-9">
                                        <h6 class="text-muted">Active</h6>
                                        <h6 class="font-extrabold mb-0">1</h6>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-3">
                        <div class="card custom-Card">
                            <div class="card-body">
                                <div class="row">
                                    <div class="col-sm-3 px-4">
                                        <div class="stats-icon blue">
                                            <i class="bi bi-check-circle-fill custom-Icon"></i>
                                        </div>
                                    </div>
                                    <div class="col-sm-9">
                                        <h6 class="text-muted">Resigned</h6>
                                        <h6 class="font-extrabold mb-0">1</h6>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-3">
                        <div class="card custom-Card">
                            <div class="card-body">
                                <div class="row">
                                    <div class="col-sm-3 px-4">
                                        <div class="stats-icon purple">
                                            <i class="bi bi-dash-circle-fill custom-Icon"></i>
                                        </div>
                                    </div>
                                    <div class="col-sm-9">
                                        <h6 class="text-muted">Relived</h6>
                                        <h6 class="font-extrabold mb-0">1</h6>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-3">
                        <div class="card custom-Card">
                            <div class="card-body">
                                <div class="row">
                                    <div class="col-sm-3 px-4">
                                        <div class="stats-icon red">
                                            <i class="bi bi-eye-slash-fill custom-Icon"></i>
                                        </div>
                                    </div>
                                    <div class="col-sm-9">
                                        <h6 class="text-muted">In-Active</h6>
                                        <h6 class="font-extrabold mb-0">0</h6>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-3">
                        <div class="card custom-Card">
                            <div class="card-body">
                                <div class="row">
                                    <div class="col-sm-3 px-4">
                                        <div class="stats-icon green">
                                            <i class="bi bi-bookmarks-fill custom-Icon"></i>
                                        </div>
                                    </div>
                                    <div class="col-sm-9">
                                        <h6 class="text-muted">Retired</h6>
                                        <h6 class="font-extrabold mb-0">1</h6>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-3">
                        <div class="card custom-Card">
                            <div class="card-body">
                                <div class="row">
                                    <div class="col-sm-3 px-4">
                                        <div class="stats-icon blue">
                                            <i class="bi bi-slash-circle-fill custom-Icon"></i>
                                        </div>
                                    </div>
                                    <div class="col-sm-9">
                                        <h6 class="text-muted">Abscond</h6>
                                        <h6 class="font-extrabold mb-0">0</h6>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-3">
                        <div class="card custom-Card">
                            <div class="card-body">
                                <div class="row">
                                    <div class="col-sm-3 px-4">
                                        <div class="stats-icon purple">
                                            <i class="bi bi-record-circle-fill custom-Icon"></i>
                                        </div>
                                    </div>
                                    <div class="col-sm-9">
                                        <h6 class="text-muted">VRS</h6>
                                        <h6 class="font-extrabold mb-0">1</h6>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-3">
                        <div class="card custom-Card">
                            <div class="card-body">
                                <div class="row">
                                    <div class="col-sm-3 px-4">
                                        <div class="stats-icon red">
                                            <i class="bi bi-x-circle-fill custom-Icon"></i>
                                        </div>
                                    </div>
                                    <div class="col-sm-9">
                                        <h6 class="text-muted">Terminated</h6>
                                        <h6 class="font-extrabold mb-0">1</h6>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
</div>
