USE [HRMS_20241203]
GO
/****** Object:  Table [dbo].[COUNTRIES]    Script Date: 3/1/2025 6:23:57 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[COUNTRIES](
	[CNTRY_CODE] [varchar](10) NOT NULL,
	[CNTRY_NAME] [varchar](30) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[CNTRY_CODE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[STATES]    Script Date: 3/1/2025 6:23:58 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[STATES](
	[STATE_CODE] [varchar](10) NOT NULL,
	[STATE_NAME] [varchar](30) NOT NULL,
	[STATE_CNTRY_CODE] [varchar](10) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[STATE_CODE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CITIES]    Script Date: 3/1/2025 6:23:58 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CITIES](
	[CITY_ID] [int] IDENTITY(1,1) NOT NULL,
	[CITY_NAME] [varchar](30) NOT NULL,
	[CITY_STATE_CODE] [varchar](10) NOT NULL,
 CONSTRAINT [PK_CITIES] PRIMARY KEY CLUSTERED 
(
	[CITY_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  View [dbo].[VIEW_CITY_STATE_COUNTRY]    Script Date: 3/1/2025 6:23:58 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[VIEW_CITY_STATE_COUNTRY]
AS
SELECT ROW_NUMBER() OVER(ORDER BY T1.CITY_ID) AS UNIQUE_ID,T1.CITY_ID,T1.CITY_NAME,T2.STATE_CODE,T2.STATE_NAME,T3.CNTRY_CODE,T3.CNTRY_NAME FROM CITIES T1
INNER JOIN STATES T2 ON T2.STATE_CODE = T1.CITY_STATE_CODE
INNER JOIN COUNTRIES T3 ON T3.CNTRY_CODE = T2.STATE_CNTRY_CODE
GO
/****** Object:  Table [dbo].[APPL_FORMS]    Script Date: 3/1/2025 6:23:58 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[APPL_FORMS](
	[AF_FORM_ID] [int] NOT NULL,
	[AF_FORM_NAME] [varchar](30) NOT NULL,
	[AF_URL] [varchar](50) NOT NULL,
	[AF_PAR_FORM_ID] [varchar](15) NULL,
	[AF_MENU_SEQ] [int] NULL,
	[AF_PROD_NAME] [varchar](50) NULL,
	[AF_STATUS] [varchar](5) NULL,
PRIMARY KEY CLUSTERED 
(
	[AF_FORM_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[BANK_BRANCHES]    Script Date: 3/1/2025 6:23:58 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BANK_BRANCHES](
	[BB_BE] [smallint] NOT NULL,
	[BB_BU] [smallint] NOT NULL,
	[BB_ID] [int] IDENTITY(1,1) NOT NULL,
	[BB_BANK_CODE] [varchar](10) NOT NULL,
	[BB_NAME] [varchar](30) NULL,
	[BB_IFSC_CODE] [varchar](11) NULL,
	[BB_MOB_NO] [varchar](15) NULL,
	[BB_EMAIL] [varchar](50) NULL,
	[BB_ADDRESS] [varchar](100) NULL,
	[BB_POST_BOX_NO] [int] NULL,
	[BB_CITY_ID] [int] NULL,
	[BB_STATE_CODE] [varchar](10) NULL,
	[BB_CNTRY_CODE] [varchar](10) NULL,
	[BB_FAX] [varchar](30) NULL,
	[BB_CRE_BY] [varchar](30) NOT NULL,
	[BB_CRE_DATE] [datetime] NOT NULL,
	[BB_UPD_BY] [varchar](30) NULL,
	[BB_UPD_DATE] [datetime] NULL,
 CONSTRAINT [PK_BANK_BRANCHES] PRIMARY KEY CLUSTERED 
(
	[BB_BE] ASC,
	[BB_BU] ASC,
	[BB_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[BANKS]    Script Date: 3/1/2025 6:23:58 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BANKS](
	[BANK_BE] [smallint] NOT NULL,
	[BANK_CODE] [varchar](10) NOT NULL,
	[BANK_NAME] [varchar](30) NOT NULL,
	[BANK_CRE_BY] [varchar](30) NOT NULL,
	[BANK_CRE_DATE] [datetime] NOT NULL,
	[BANK_UPD_BY] [varchar](30) NULL,
	[BANK_UPD_DATE] [datetime] NULL,
 CONSTRAINT [PK_BANKS] PRIMARY KEY CLUSTERED 
(
	[BANK_BE] ASC,
	[BANK_CODE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[BUS_BRANCH]    Script Date: 3/1/2025 6:23:58 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BUS_BRANCH](
	[BR_BE] [smallint] NOT NULL,
	[BR_BU] [smallint] NOT NULL,
	[BR_ID] [int] IDENTITY(1,1) NOT NULL,
	[BR_NAME] [varchar](50) NOT NULL,
	[BR_MOB_NO] [varchar](15) NULL,
	[BR_EMAIL] [varchar](50) NULL,
	[BR_WEBSITE] [varchar](100) NULL,
	[BR_ADDR] [varchar](100) NULL,
	[BR_CITY_ID] [int] NULL,
	[BR_STATE_CODE] [varchar](10) NULL,
	[BR_CNTRY_CODE] [varchar](10) NULL,
	[BR_POST_BOX_NO] [int] NULL,
	[BR_FAX] [varchar](30) NULL,
	[BR_TIN_NO] [varchar](20) NULL,
	[BR_VAT_NO] [varchar](20) NULL,
	[BR_VAT_DOR] [datetime] NULL,
	[BR_LOGO] [image] NULL,
	[BR_LOGO_URL] [varchar](300) NULL,
PRIMARY KEY CLUSTERED 
(
	[BR_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[BUS_ENTITIES]    Script Date: 3/1/2025 6:23:58 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BUS_ENTITIES](
	[BE_ID] [smallint] NOT NULL,
	[BE_NAME] [varchar](50) NOT NULL,
	[BE_MOB_NO] [varchar](15) NULL,
	[BE_ALT_MOB_NO] [varchar](15) NULL,
	[BE_EMAIL] [varchar](50) NULL,
	[BE_WEBSITE] [varchar](50) NULL,
	[BE_GSTIN] [varchar](16) NULL,
	[BE_ADDRESS] [varchar](300) NULL,
	[BE_CITY_ID] [int] NULL,
	[BE_STATE_CODE] [varchar](10) NULL,
	[BE_CNTRY_CODE] [varchar](10) NULL,
	[BE_PINCODE] [int] NULL,
	[BE_LOGO] [image] NULL,
	[BE_LOGO_URL] [varchar](300) NULL,
PRIMARY KEY CLUSTERED 
(
	[BE_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[BUS_UNITS]    Script Date: 3/1/2025 6:23:58 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BUS_UNITS](
	[BU_BE] [smallint] NOT NULL,
	[BU_ID] [smallint] NOT NULL,
	[BU_NAME] [varchar](50) NOT NULL,
	[BU_MOB_NO] [varchar](15) NULL,
	[BU_ALT_MOB_NO] [varchar](15) NULL,
	[BU_EMAIL] [varchar](50) NULL,
	[BU_WEBSITE] [varchar](100) NULL,
	[BU_ADDRESS] [varchar](300) NULL,
	[BU_CITY_ID] [int] NULL,
	[BU_STATE_CODE] [varchar](10) NULL,
	[BU_CNTRY_CODE] [varchar](10) NULL,
	[BU_POST_BOX_NO] [int] NULL,
	[BU_FAX] [varchar](30) NULL,
	[BU_TIN_NO] [varchar](20) NULL,
	[BU_VAT_NO] [varchar](20) NULL,
	[BU_VAT_DOR] [datetime] NULL,
	[BU_LOGO] [image] NULL,
	[BU_LOGO_URL] [varchar](300) NULL,
 CONSTRAINT [PK_BUS_UNITS] PRIMARY KEY CLUSTERED 
(
	[BU_BE] ASC,
	[BU_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DATA_MANAGER]    Script Date: 3/1/2025 6:23:58 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DATA_MANAGER](
	[ID] [bigint] IDENTITY(1,1) NOT NULL,
	[VALUE_ID] [varchar](25) NOT NULL,
	[VALUE_DESC] [varchar](100) NULL,
	[TYPE_ID] [varchar](50) NULL,
	[TYPE_DESC] [varchar](100) NULL,
 CONSTRAINT [PK_DATA_MANAGER] PRIMARY KEY CLUSTERED 
(
	[ID] ASC,
	[VALUE_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DEPARTMENT]    Script Date: 3/1/2025 6:23:58 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DEPARTMENT](
	[DEPT_BE] [smallint] NOT NULL,
	[DEPT_BU] [smallint] NOT NULL,
	[DEPT_CODE] [varchar](10) NOT NULL,
	[DEPT_NAME] [varchar](30) NULL,
	[DEPT_CRE_BY] [varchar](30) NOT NULL,
	[DEPT_CRE_DATE] [datetime] NOT NULL,
	[DEPT_UPD_BY] [varchar](30) NULL,
	[DEPT_UPD_DATE] [datetime] NULL,
 CONSTRAINT [PK_DEPARTMENT] PRIMARY KEY CLUSTERED 
(
	[DEPT_BE] ASC,
	[DEPT_BU] ASC,
	[DEPT_CODE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DESIGNATION]    Script Date: 3/1/2025 6:23:58 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DESIGNATION](
	[DESG_BE] [smallint] NOT NULL,
	[DESG_BU] [smallint] NOT NULL,
	[DESG_CODE] [varchar](10) NOT NULL,
	[DESG_NAME] [varchar](30) NULL,
	[DESG_CRE_BY] [varchar](30) NOT NULL,
	[DESG_CRE_DATE] [datetime] NOT NULL,
	[DESG_UPD_BY] [varchar](30) NULL,
	[DESG_UPD_DATE] [datetime] NULL,
 CONSTRAINT [PK_DESIGNATION] PRIMARY KEY CLUSTERED 
(
	[DESG_BE] ASC,
	[DESG_BU] ASC,
	[DESG_CODE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DOCUMENT_NUMBER]    Script Date: 3/1/2025 6:23:58 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DOCUMENT_NUMBER](
	[DN_BE] [smallint] NOT NULL,
	[DN_BU] [smallint] NOT NULL,
	[DN_DOC_TYPE] [varchar](5) NOT NULL,
	[DN_DOC_NAME] [varchar](30) NULL,
	[DN_DOC_NEXT_NO] [varchar](6) NULL,
	[DN_DOC_PREFIX] [varchar](5) NULL,
 CONSTRAINT [PK_DOCUMENT_NUMBER] PRIMARY KEY CLUSTERED 
(
	[DN_BE] ASC,
	[DN_BU] ASC,
	[DN_DOC_TYPE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[EMPLOYEE_GRADE]    Script Date: 3/1/2025 6:23:58 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[EMPLOYEE_GRADE](
	[EG_BE] [smallint] NOT NULL,
	[EG_BU] [smallint] NOT NULL,
	[EG_CODE] [varchar](5) NOT NULL,
	[EG_NAME] [varchar](10) NULL,
	[EG_SAL_GRP_CODE] [varchar](5) NULL,
	[EG_CRE_BY] [varchar](30) NOT NULL,
	[EG_CRE_DATE] [datetime] NOT NULL,
	[EG_UPD_BY] [varchar](30) NULL,
	[EG_UPD_DATE] [datetime] NULL,
 CONSTRAINT [PK_EMPLOYEE_GRADE] PRIMARY KEY CLUSTERED 
(
	[EG_BE] ASC,
	[EG_BU] ASC,
	[EG_CODE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[EMPLOYEES]    Script Date: 3/1/2025 6:23:58 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[EMPLOYEES](
	[EMP_BE] [smallint] NOT NULL,
	[EMP_BU] [smallint] NOT NULL,
	[EMP_CODE] [varchar](10) NOT NULL,
	[EMP_FIRST_NAME] [varchar](30) NOT NULL,
	[EMP_LAST_NAME] [varchar](15) NULL,
	[EMP_FATHER_NAME] [varchar](30) NULL,
	[EMP_GENDER] [varchar](1) NULL,
	[EMP_MRT_STATUS] [varchar](1) NULL,
	[EMP_DOB] [date] NULL,
	[EMP_DOJ] [date] NULL,
	[EMP_MOB_NO] [varchar](15) NULL,
	[EMP_ALT_MOB_NO] [varchar](15) NULL,
	[EMP_EMAIL_ID] [varchar](50) NULL,
	[EMP_DEPT_CODE] [varchar](10) NULL,
	[EMP_DESG_CODE] [varchar](10) NULL,
	[EMP_GRADE] [varchar](10) NULL,
	[EMP_STATUS] [bit] NOT NULL,
	[EMP_CUR_ADDR] [varchar](100) NULL,
	[EMP_CUR_ADDR_PINCODE] [int] NULL,
	[EMP_CUR_CITY] [int] NULL,
	[EMP_CUR_STATE] [varchar](10) NULL,
	[EMP_CUR_COUNTRY] [varchar](10) NULL,
	[EMP_PER_ADDR_FLAG] [bit] NOT NULL,
	[EMP_PER_ADDR] [varchar](100) NULL,
	[EMP_PER_ADDR_PINCODE] [int] NULL,
	[EMP_PER_CITY] [int] NULL,
	[EMP_PER_STATE] [varchar](10) NULL,
	[EMP_PER_COUNTRY] [varchar](10) NULL,
	[EMP_BANK_CODE] [varchar](10) NULL,
	[EMP_BANK_BRANCH_ID] [int] NULL,
	[EMP_IFSC_CODE] [varchar](11) NULL,
	[EMP_ACC_NO] [varchar](16) NULL,
	[EMP_BASIC] [numeric](9, 2) NULL,
	[EMP_DA] [numeric](9, 2) NULL,
	[EMP_HRA] [numeric](9, 2) NULL,
	[EMP_CA] [numeric](9, 2) NULL,
	[EMP_MA] [numeric](9, 2) NULL,
	[EMP_OTHERS] [numeric](9, 2) NULL,
	[EMP_SALARY] [numeric](9, 2) NULL,
	[EMP_LAST_PAYR_YEAR] [int] NULL,
	[EMP_LAST_PAYR_PERIOD] [smallint] NULL,
	[EMP_CL] [numeric](4, 1) NULL,
	[EMP_EL] [numeric](4, 1) NULL,
	[EMP_COL] [numeric](4, 1) NULL,
	[EMP_PF_NO] [varchar](22) NULL,
	[EMP_ESI_NO] [varchar](17) NULL,
	[EMP_UAN_NO] [varchar](12) NULL,
	[EMP_AADHAR_NO] [varchar](12) NULL,
	[EMP_AADHAR_FILE_URL] [varchar](200) NULL,
	[EMP_PAN_NO] [varchar](10) NULL,
	[EMP_PAN_FILE_URL] [varchar](200) NULL,
	[EMP_LANGUAGE] [varchar](5) NULL,
	[EMP_BLOOD_GRP] [varchar](10) NULL,
	[EMP_EDU_DET] [varchar](10) NULL,
	[EMP_EDU_DOM] [varchar](50) NULL,
	[EMP_IMAGE_URL] [varchar](200) NULL,
	[EMP_CRE_BY] [varchar](30) NOT NULL,
	[EMP_CRE_DATE] [datetime] NOT NULL,
	[EMP_UPD_BY] [varchar](30) NULL,
	[EMP_UPD_DATE] [datetime] NULL,
 CONSTRAINT [PK_EMPLOYEES] PRIMARY KEY CLUSTERED 
(
	[EMP_BE] ASC,
	[EMP_BU] ASC,
	[EMP_CODE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[FINANCIAL_PERIOD]    Script Date: 3/1/2025 6:23:58 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[FINANCIAL_PERIOD](
	[FP_BE] [smallint] NOT NULL,
	[FP_YEAR] [int] NOT NULL,
	[FP_PERIOD] [smallint] NOT NULL,
	[FP_START_DATE] [date] NOT NULL,
	[FP_END_DATE] [date] NOT NULL,
	[FP_NO_OF_DAYS] [smallint] NULL,
	[FP_STATUS] [varchar](1) NOT NULL,
	[FP_CRE_BY] [varchar](30) NOT NULL,
	[FP_CRE_DATE] [datetime] NOT NULL,
	[FP_UPD_BY] [varchar](30) NULL,
	[FP_UPD_DATE] [datetime] NULL,
 CONSTRAINT [PK_FINANCIAL_PERIOD] PRIMARY KEY CLUSTERED 
(
	[FP_BE] ASC,
	[FP_YEAR] ASC,
	[FP_PERIOD] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[FINANCIAL_YEAR]    Script Date: 3/1/2025 6:23:58 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[FINANCIAL_YEAR](
	[FY_BE] [smallint] NOT NULL,
	[FY_YEAR] [int] NOT NULL,
	[FY_START_DATE] [date] NOT NULL,
	[FY_END_DATE] [date] NOT NULL,
	[FY_STATUS] [varchar](1) NOT NULL,
	[FY_CRE_BY] [varchar](30) NOT NULL,
	[FY_CRE_DATE] [datetime] NOT NULL,
	[FY_UPD_BY] [varchar](30) NULL,
	[FY_UPD_DATE] [datetime] NULL,
 CONSTRAINT [PK_FINANCIAL_YEAR] PRIMARY KEY CLUSTERED 
(
	[FY_BE] ASC,
	[FY_YEAR] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LEAVE]    Script Date: 3/1/2025 6:23:58 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LEAVE](
	[LEV_BE] [smallint] NOT NULL,
	[LEV_BU] [smallint] NOT NULL,
	[LEV_CODE] [varchar](2) NOT NULL,
	[LEV_NAME] [varchar](30) NULL,
	[LEV_CRE_BY] [varchar](30) NOT NULL,
	[LEV_CRE_DATE] [datetime] NOT NULL,
	[LEV_UPD_BY] [varchar](30) NULL,
	[LEV_UPD_DATE] [datetime] NULL,
 CONSTRAINT [PK_LEAVE] PRIMARY KEY CLUSTERED 
(
	[LEV_BE] ASC,
	[LEV_BU] ASC,
	[LEV_CODE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LEAVE_REQUEST]    Script Date: 3/1/2025 6:23:58 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LEAVE_REQUEST](
	[LR_BE] [smallint] NOT NULL,
	[LR_BU] [smallint] NOT NULL,
	[LR_ID] [int] IDENTITY(1,1) NOT NULL,
	[LR_EMP_CODE] [varchar](10) NULL,
	[LR_START_DATE] [date] NULL,
	[LR_NO_OF_DAYS] [numeric](3, 1) NULL,
	[LR_SESSION] [varchar](2) NULL,
	[LR_END_DATE] [date] NULL,
	[LR_REASON] [varchar](100) NULL,
	[LR_TYPE] [varchar](2) NULL,
	[LR_EMP_DEPT_CODE] [varchar](10) NULL,
	[LR_STATUS] [varchar](1) NULL,
	[LR_APR_BY] [varchar](10) NULL,
	[LR_REJ_BY] [varchar](10) NULL,
	[LR_REJ_REASON] [varchar](100) NULL,
	[LR_CRE_BY] [varchar](30) NOT NULL,
	[LR_CRE_DATE] [datetime] NOT NULL,
	[LR_UPD_BY] [varchar](30) NULL,
	[LR_UPD_DATE] [datetime] NULL,
 CONSTRAINT [PK_LEAVE_REQUEST] PRIMARY KEY CLUSTERED 
(
	[LR_BE] ASC,
	[LR_BU] ASC,
	[LR_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MANUAL_ATTENDANCE]    Script Date: 3/1/2025 6:23:58 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MANUAL_ATTENDANCE](
	[MA_BE] [smallint] NOT NULL,
	[MA_BU] [smallint] NOT NULL,
	[MA_ID] [int] IDENTITY(1,1) NOT NULL,
	[MA_DATE] [date] NULL,
	[MA_EMP_CODE] [varchar](10) NULL,
	[MA_IN_TIME] [numeric](5, 1) NULL,
	[MA_OUT_TIME] [numeric](5, 1) NULL,
	[MA_CRE_BY] [varchar](30) NOT NULL,
	[MA_CRE_DATE] [datetime] NOT NULL,
	[MA_UPD_BY] [varchar](30) NULL,
	[MA_UPD_DATE] [datetime] NULL,
 CONSTRAINT [PK_MANUAL_ATTENDANCE] PRIMARY KEY CLUSTERED 
(
	[MA_BE] ASC,
	[MA_BU] ASC,
	[MA_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PERMISSION_REQUEST]    Script Date: 3/1/2025 6:23:58 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PERMISSION_REQUEST](
	[PR_BE] [smallint] NOT NULL,
	[PR_BU] [smallint] NOT NULL,
	[PR_ID] [int] IDENTITY(1,1) NOT NULL,
	[PR_EMP_CODE] [varchar](10) NULL,
	[PR_DATE] [date] NULL,
	[PR_START_TIME] [varchar](10) NULL,
	[PR_HOURS] [numeric](3, 1) NULL,
	[PR_END_TIME] [varchar](10) NULL,
	[PR_REASON] [varchar](100) NULL,
	[PR_EMP_DEPT_CODE] [varchar](10) NULL,
	[PR_STATUS] [varchar](1) NULL,
	[PR_APR_BY] [varchar](10) NULL,
	[PR_REJ_BY] [varchar](10) NULL,
	[PR_REJ_REASON] [varchar](100) NULL,
	[PR_CRE_BY] [varchar](30) NOT NULL,
	[PR_CRE_DATE] [datetime] NOT NULL,
	[PR_UPD_BY] [varchar](30) NULL,
	[PR_UPD_DATE] [datetime] NULL,
 CONSTRAINT [PK_PERMISSION_REQUEST] PRIMARY KEY CLUSTERED 
(
	[PR_BE] ASC,
	[PR_BU] ASC,
	[PR_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ROLE]    Script Date: 3/1/2025 6:23:58 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ROLE](
	[ROLE_BE] [smallint] NOT NULL,
	[ROLE_BU] [smallint] NOT NULL,
	[ROLE_ID] [int] IDENTITY(1,1) NOT NULL,
	[ROLE_DESC] [varchar](50) NULL,
	[ROLE_CRE_BY] [varchar](30) NOT NULL,
	[ROLE_CRE_DATE] [datetime] NOT NULL,
	[ROLE_UPD_BY] [varchar](30) NULL,
	[ROLE_UPD_DATE] [datetime] NULL,
 CONSTRAINT [PK_ROLE] PRIMARY KEY CLUSTERED 
(
	[ROLE_BE] ASC,
	[ROLE_BU] ASC,
	[ROLE_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ROLE_ACCESS]    Script Date: 3/1/2025 6:23:58 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ROLE_ACCESS](
	[RA_BE] [smallint] NOT NULL,
	[RA_BU] [smallint] NOT NULL,
	[RA_ID] [int] IDENTITY(1,1) NOT NULL,
	[RA_ROLE_ID] [int] NOT NULL,
	[RA_FORM_ID] [int] NOT NULL,
	[RA_CRE_BY] [varchar](30) NOT NULL,
	[RA_CRE_DATE] [datetime] NOT NULL,
	[RA_UPD_BY] [varchar](30) NULL,
	[RA_UPD_DATE] [datetime] NULL,
 CONSTRAINT [PK_ROLE_ACCESS] PRIMARY KEY CLUSTERED 
(
	[RA_BE] ASC,
	[RA_BU] ASC,
	[RA_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SALARY_GROUP]    Script Date: 3/1/2025 6:23:58 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SALARY_GROUP](
	[SG_BE] [smallint] NOT NULL,
	[SG_BU] [smallint] NOT NULL,
	[SG_CODE] [varchar](5) NOT NULL,
	[SG_NAME] [varchar](30) NULL,
	[SG_CRE_BY] [varchar](30) NOT NULL,
	[SG_CRE_DATE] [datetime] NOT NULL,
	[SG_UPD_BY] [varchar](30) NULL,
	[SG_UPD_DATE] [datetime] NULL,
 CONSTRAINT [PK_SALARY_GROUP] PRIMARY KEY CLUSTERED 
(
	[SG_BE] ASC,
	[SG_BU] ASC,
	[SG_CODE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[USER_CREATION]    Script Date: 3/1/2025 6:23:58 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[USER_CREATION](
	[USER_BE] [smallint] NOT NULL,
	[USER_BU] [smallint] NOT NULL,
	[USER_ID] [int] IDENTITY(1,1) NOT NULL,
	[USER_EMP_CODE] [varchar](10) NULL,
	[USER_ROLE_ID] [int] NOT NULL,
	[USER_NAME] [varchar](20) NOT NULL,
	[USER_PSWD] [varchar](50) NOT NULL,
	[USER_STATUS] [bit] NOT NULL,
	[USER_CRE_BY] [varchar](30) NOT NULL,
	[USER_CRE_DATE] [datetime] NOT NULL,
	[USER_UPD_BY] [varchar](30) NULL,
	[USER_UPD_DATE] [datetime] NULL,
 CONSTRAINT [PK_USER_CREATION] PRIMARY KEY CLUSTERED 
(
	[USER_BE] ASC,
	[USER_BU] ASC,
	[USER_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[WEEK_ENDS]    Script Date: 3/1/2025 6:23:58 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[WEEK_ENDS](
	[WE_BE] [smallint] NOT NULL,
	[WE_BU] [smallint] NOT NULL,
	[WE_YEAR] [int] NOT NULL,
	[WE_CAL_NO] [int] NOT NULL,
	[WE_SEQ_NO] [int] IDENTITY(1,1) NOT NULL,
	[WE_DAY] [varchar](2) NULL,
	[WE_DAY_CK] [bit] NULL,
	[WE_CRE_BY] [varchar](30) NOT NULL,
	[WE_CRE_DATE] [datetime] NOT NULL,
	[WE_UPD_BY] [varchar](30) NULL,
	[WE_UPD_DATE] [datetime] NULL,
 CONSTRAINT [PK_WEEK_ENDS] PRIMARY KEY CLUSTERED 
(
	[WE_BE] ASC,
	[WE_BU] ASC,
	[WE_YEAR] ASC,
	[WE_CAL_NO] ASC,
	[WE_SEQ_NO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[WORK_DAY_CALENDAR_HD]    Script Date: 3/1/2025 6:23:58 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[WORK_DAY_CALENDAR_HD](
	[WDCH_BE] [smallint] NOT NULL,
	[WDCH_BU] [smallint] NOT NULL,
	[WDCH_YEAR] [int] NOT NULL,
	[WDCH_DOC_NO] [int] NOT NULL,
	[WDCH_START_DATE] [date] NULL,
	[WDCH_END_DATE] [date] NULL,
	[WDCH_STATUS] [varchar](1) NOT NULL,
	[WDCH_CRE_BY] [varchar](30) NOT NULL,
	[WDCH_CRE_DATE] [datetime] NOT NULL,
	[WDCH_UPD_BY] [varchar](30) NULL,
	[WDCH_UPD_DATE] [datetime] NULL,
 CONSTRAINT [PK_WORK_DAY_CALENDAR_HD] PRIMARY KEY CLUSTERED 
(
	[WDCH_BE] ASC,
	[WDCH_BU] ASC,
	[WDCH_YEAR] ASC,
	[WDCH_DOC_NO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[WORK_DAY_CALENDAR_HOLIDAYS]    Script Date: 3/1/2025 6:23:58 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[WORK_DAY_CALENDAR_HOLIDAYS](
	[WDCHO_BE] [smallint] NOT NULL,
	[WDCHO_BU] [smallint] NOT NULL,
	[WDCHO_YEAR] [int] NOT NULL,
	[WDCHO_DOC_NO] [int] NOT NULL,
	[WDCHO_SEQ_NO] [int] NOT NULL,
	[WDCHO_HOLIDAY] [date] NULL,
	[WDCHO_REF] [varchar](200) NULL,
	[WDCHO_CRE_BY] [varchar](30) NOT NULL,
	[WDCHO_CRE_DATE] [datetime] NOT NULL,
	[WDCHO_UPD_BY] [varchar](30) NULL,
	[WDCHO_UPD_DATE] [datetime] NULL,
 CONSTRAINT [PK_WORK_DAY_CALENDAR_HOLIDAYS] PRIMARY KEY CLUSTERED 
(
	[WDCHO_BE] ASC,
	[WDCHO_BU] ASC,
	[WDCHO_YEAR] ASC,
	[WDCHO_DOC_NO] ASC,
	[WDCHO_SEQ_NO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[WORK_DAY_CALENDAR_LN]    Script Date: 3/1/2025 6:23:58 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[WORK_DAY_CALENDAR_LN](
	[WDCL_BE] [smallint] NOT NULL,
	[WDCL_BU] [smallint] NOT NULL,
	[WDCL_YEAR] [int] NOT NULL,
	[WDCL_DOC_NO] [int] NOT NULL,
	[WDCL_SEQ_NO] [int] NOT NULL,
	[WDCL_DAY] [date] NULL,
	[WDCL_REF] [varchar](200) NULL,
	[WDCL_DAY_TYPE] [varchar](2) NULL,
	[WDCL_WORK_OFF] [bit] NULL,
	[WDCL_CRE_BY] [varchar](30) NOT NULL,
	[WDCL_CRE_DATE] [datetime] NOT NULL,
	[WDCL_UPD_BY] [varchar](30) NULL,
	[WDCL_UPD_DATE] [datetime] NULL,
 CONSTRAINT [PK_WORK_DAY_CALENDAR_LN] PRIMARY KEY CLUSTERED 
(
	[WDCL_BE] ASC,
	[WDCL_BU] ASC,
	[WDCL_DOC_NO] ASC,
	[WDCL_SEQ_NO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[BANK_BRANCHES]  WITH CHECK ADD  CONSTRAINT [FK_BANK_BRANCHES_BANKS] FOREIGN KEY([BB_BE], [BB_BANK_CODE])
REFERENCES [dbo].[BANKS] ([BANK_BE], [BANK_CODE])
GO
ALTER TABLE [dbo].[BANK_BRANCHES] CHECK CONSTRAINT [FK_BANK_BRANCHES_BANKS]
GO
ALTER TABLE [dbo].[BANK_BRANCHES]  WITH CHECK ADD  CONSTRAINT [FK_BANK_BRANCHES_BUS_UNITS] FOREIGN KEY([BB_BE], [BB_BU])
REFERENCES [dbo].[BUS_UNITS] ([BU_BE], [BU_ID])
GO
ALTER TABLE [dbo].[BANK_BRANCHES] CHECK CONSTRAINT [FK_BANK_BRANCHES_BUS_UNITS]
GO
ALTER TABLE [dbo].[BANK_BRANCHES]  WITH CHECK ADD  CONSTRAINT [FK_BANK_BRANCHES_CITIES] FOREIGN KEY([BB_CITY_ID])
REFERENCES [dbo].[CITIES] ([CITY_ID])
GO
ALTER TABLE [dbo].[BANK_BRANCHES] CHECK CONSTRAINT [FK_BANK_BRANCHES_CITIES]
GO
ALTER TABLE [dbo].[BANK_BRANCHES]  WITH CHECK ADD  CONSTRAINT [FK_BANK_BRANCHES_COUNTRIES] FOREIGN KEY([BB_CNTRY_CODE])
REFERENCES [dbo].[COUNTRIES] ([CNTRY_CODE])
GO
ALTER TABLE [dbo].[BANK_BRANCHES] CHECK CONSTRAINT [FK_BANK_BRANCHES_COUNTRIES]
GO
ALTER TABLE [dbo].[BANK_BRANCHES]  WITH CHECK ADD  CONSTRAINT [FK_BANK_BRANCHES_STATES] FOREIGN KEY([BB_STATE_CODE])
REFERENCES [dbo].[STATES] ([STATE_CODE])
GO
ALTER TABLE [dbo].[BANK_BRANCHES] CHECK CONSTRAINT [FK_BANK_BRANCHES_STATES]
GO
ALTER TABLE [dbo].[BANKS]  WITH CHECK ADD  CONSTRAINT [FK_BANKS_BUS_ENTITIES] FOREIGN KEY([BANK_BE])
REFERENCES [dbo].[BUS_ENTITIES] ([BE_ID])
GO
ALTER TABLE [dbo].[BANKS] CHECK CONSTRAINT [FK_BANKS_BUS_ENTITIES]
GO
ALTER TABLE [dbo].[BUS_BRANCH]  WITH CHECK ADD  CONSTRAINT [FK_BUS_BRANCH_CITIES] FOREIGN KEY([BR_CITY_ID])
REFERENCES [dbo].[CITIES] ([CITY_ID])
GO
ALTER TABLE [dbo].[BUS_BRANCH] CHECK CONSTRAINT [FK_BUS_BRANCH_CITIES]
GO
ALTER TABLE [dbo].[BUS_BRANCH]  WITH CHECK ADD  CONSTRAINT [FK_BUS_BRANCH_COUNTRIES] FOREIGN KEY([BR_CNTRY_CODE])
REFERENCES [dbo].[COUNTRIES] ([CNTRY_CODE])
GO
ALTER TABLE [dbo].[BUS_BRANCH] CHECK CONSTRAINT [FK_BUS_BRANCH_COUNTRIES]
GO
ALTER TABLE [dbo].[BUS_BRANCH]  WITH CHECK ADD  CONSTRAINT [FK_BUS_BRANCH_STATES] FOREIGN KEY([BR_STATE_CODE])
REFERENCES [dbo].[STATES] ([STATE_CODE])
GO
ALTER TABLE [dbo].[BUS_BRANCH] CHECK CONSTRAINT [FK_BUS_BRANCH_STATES]
GO
ALTER TABLE [dbo].[BUS_BRANCH]  WITH CHECK ADD  CONSTRAINT [FK_BUS_BRANCH_UNITS] FOREIGN KEY([BR_BE], [BR_BU])
REFERENCES [dbo].[BUS_UNITS] ([BU_BE], [BU_ID])
GO
ALTER TABLE [dbo].[BUS_BRANCH] CHECK CONSTRAINT [FK_BUS_BRANCH_UNITS]
GO
ALTER TABLE [dbo].[BUS_ENTITIES]  WITH CHECK ADD  CONSTRAINT [FK_BUS_ENTITIES_CITIES] FOREIGN KEY([BE_CITY_ID])
REFERENCES [dbo].[CITIES] ([CITY_ID])
GO
ALTER TABLE [dbo].[BUS_ENTITIES] CHECK CONSTRAINT [FK_BUS_ENTITIES_CITIES]
GO
ALTER TABLE [dbo].[BUS_ENTITIES]  WITH CHECK ADD  CONSTRAINT [FK_BUS_ENTITIES_COUNTRIES] FOREIGN KEY([BE_CNTRY_CODE])
REFERENCES [dbo].[COUNTRIES] ([CNTRY_CODE])
GO
ALTER TABLE [dbo].[BUS_ENTITIES] CHECK CONSTRAINT [FK_BUS_ENTITIES_COUNTRIES]
GO
ALTER TABLE [dbo].[BUS_ENTITIES]  WITH CHECK ADD  CONSTRAINT [FK_BUS_ENTITIES_STATES] FOREIGN KEY([BE_STATE_CODE])
REFERENCES [dbo].[STATES] ([STATE_CODE])
GO
ALTER TABLE [dbo].[BUS_ENTITIES] CHECK CONSTRAINT [FK_BUS_ENTITIES_STATES]
GO
ALTER TABLE [dbo].[BUS_UNITS]  WITH CHECK ADD  CONSTRAINT [FK_BUS_UNITS_CITIES] FOREIGN KEY([BU_CITY_ID])
REFERENCES [dbo].[CITIES] ([CITY_ID])
GO
ALTER TABLE [dbo].[BUS_UNITS] CHECK CONSTRAINT [FK_BUS_UNITS_CITIES]
GO
ALTER TABLE [dbo].[BUS_UNITS]  WITH CHECK ADD  CONSTRAINT [FK_BUS_UNITS_COUNTRIES] FOREIGN KEY([BU_CNTRY_CODE])
REFERENCES [dbo].[COUNTRIES] ([CNTRY_CODE])
GO
ALTER TABLE [dbo].[BUS_UNITS] CHECK CONSTRAINT [FK_BUS_UNITS_COUNTRIES]
GO
ALTER TABLE [dbo].[BUS_UNITS]  WITH CHECK ADD  CONSTRAINT [FK_BUS_UNITS_STATES] FOREIGN KEY([BU_STATE_CODE])
REFERENCES [dbo].[STATES] ([STATE_CODE])
GO
ALTER TABLE [dbo].[BUS_UNITS] CHECK CONSTRAINT [FK_BUS_UNITS_STATES]
GO
ALTER TABLE [dbo].[CITIES]  WITH CHECK ADD  CONSTRAINT [FK_CITIES_STATE] FOREIGN KEY([CITY_STATE_CODE])
REFERENCES [dbo].[STATES] ([STATE_CODE])
GO
ALTER TABLE [dbo].[CITIES] CHECK CONSTRAINT [FK_CITIES_STATE]
GO
ALTER TABLE [dbo].[DEPARTMENT]  WITH CHECK ADD  CONSTRAINT [FK_DEPARTMENT_BUS_UNITS] FOREIGN KEY([DEPT_BE], [DEPT_BU])
REFERENCES [dbo].[BUS_UNITS] ([BU_BE], [BU_ID])
GO
ALTER TABLE [dbo].[DEPARTMENT] CHECK CONSTRAINT [FK_DEPARTMENT_BUS_UNITS]
GO
ALTER TABLE [dbo].[DESIGNATION]  WITH CHECK ADD  CONSTRAINT [FK_DESIGNATION_BUS_UNITS] FOREIGN KEY([DESG_BE], [DESG_BU])
REFERENCES [dbo].[BUS_UNITS] ([BU_BE], [BU_ID])
GO
ALTER TABLE [dbo].[DESIGNATION] CHECK CONSTRAINT [FK_DESIGNATION_BUS_UNITS]
GO
ALTER TABLE [dbo].[EMPLOYEE_GRADE]  WITH CHECK ADD  CONSTRAINT [FK_EMP_GRADE_SALARY_GROUP] FOREIGN KEY([EG_BE], [EG_BU], [EG_SAL_GRP_CODE])
REFERENCES [dbo].[SALARY_GROUP] ([SG_BE], [SG_BU], [SG_CODE])
GO
ALTER TABLE [dbo].[EMPLOYEE_GRADE] CHECK CONSTRAINT [FK_EMP_GRADE_SALARY_GROUP]
GO
ALTER TABLE [dbo].[EMPLOYEE_GRADE]  WITH CHECK ADD  CONSTRAINT [FK_EMPLOYEE_GRADE_BUS_UNITS] FOREIGN KEY([EG_BE], [EG_BU])
REFERENCES [dbo].[BUS_UNITS] ([BU_BE], [BU_ID])
GO
ALTER TABLE [dbo].[EMPLOYEE_GRADE] CHECK CONSTRAINT [FK_EMPLOYEE_GRADE_BUS_UNITS]
GO
ALTER TABLE [dbo].[EMPLOYEES]  WITH CHECK ADD  CONSTRAINT [FK_EMPLOYEE_CITIES] FOREIGN KEY([EMP_PER_CITY])
REFERENCES [dbo].[CITIES] ([CITY_ID])
GO
ALTER TABLE [dbo].[EMPLOYEES] CHECK CONSTRAINT [FK_EMPLOYEE_CITIES]
GO
ALTER TABLE [dbo].[EMPLOYEES]  WITH CHECK ADD  CONSTRAINT [FK_EMPLOYEE_COUNTRIES] FOREIGN KEY([EMP_PER_COUNTRY])
REFERENCES [dbo].[COUNTRIES] ([CNTRY_CODE])
GO
ALTER TABLE [dbo].[EMPLOYEES] CHECK CONSTRAINT [FK_EMPLOYEE_COUNTRIES]
GO
ALTER TABLE [dbo].[EMPLOYEES]  WITH CHECK ADD  CONSTRAINT [FK_EMPLOYEE_STATES] FOREIGN KEY([EMP_PER_STATE])
REFERENCES [dbo].[STATES] ([STATE_CODE])
GO
ALTER TABLE [dbo].[EMPLOYEES] CHECK CONSTRAINT [FK_EMPLOYEE_STATES]
GO
ALTER TABLE [dbo].[EMPLOYEES]  WITH CHECK ADD  CONSTRAINT [FK_EMPLOYEES_BANK] FOREIGN KEY([EMP_BE], [EMP_BANK_CODE])
REFERENCES [dbo].[BANKS] ([BANK_BE], [BANK_CODE])
GO
ALTER TABLE [dbo].[EMPLOYEES] CHECK CONSTRAINT [FK_EMPLOYEES_BANK]
GO
ALTER TABLE [dbo].[EMPLOYEES]  WITH CHECK ADD  CONSTRAINT [FK_EMPLOYEES_BANK_BRANCH] FOREIGN KEY([EMP_BE], [EMP_BU], [EMP_BANK_BRANCH_ID])
REFERENCES [dbo].[BANK_BRANCHES] ([BB_BE], [BB_BU], [BB_ID])
GO
ALTER TABLE [dbo].[EMPLOYEES] CHECK CONSTRAINT [FK_EMPLOYEES_BANK_BRANCH]
GO
ALTER TABLE [dbo].[EMPLOYEES]  WITH CHECK ADD  CONSTRAINT [FK_EMPLOYEES_BUS_UNITS] FOREIGN KEY([EMP_BE], [EMP_BU])
REFERENCES [dbo].[BUS_UNITS] ([BU_BE], [BU_ID])
GO
ALTER TABLE [dbo].[EMPLOYEES] CHECK CONSTRAINT [FK_EMPLOYEES_BUS_UNITS]
GO
ALTER TABLE [dbo].[EMPLOYEES]  WITH CHECK ADD  CONSTRAINT [FK_EMPLOYEES_CITIES] FOREIGN KEY([EMP_CUR_CITY])
REFERENCES [dbo].[CITIES] ([CITY_ID])
GO
ALTER TABLE [dbo].[EMPLOYEES] CHECK CONSTRAINT [FK_EMPLOYEES_CITIES]
GO
ALTER TABLE [dbo].[EMPLOYEES]  WITH CHECK ADD  CONSTRAINT [FK_EMPLOYEES_COUNTRIES] FOREIGN KEY([EMP_CUR_COUNTRY])
REFERENCES [dbo].[COUNTRIES] ([CNTRY_CODE])
GO
ALTER TABLE [dbo].[EMPLOYEES] CHECK CONSTRAINT [FK_EMPLOYEES_COUNTRIES]
GO
ALTER TABLE [dbo].[EMPLOYEES]  WITH CHECK ADD  CONSTRAINT [FK_EMPLOYEES_DEPARTMENT] FOREIGN KEY([EMP_BE], [EMP_BU], [EMP_DEPT_CODE])
REFERENCES [dbo].[DEPARTMENT] ([DEPT_BE], [DEPT_BU], [DEPT_CODE])
GO
ALTER TABLE [dbo].[EMPLOYEES] CHECK CONSTRAINT [FK_EMPLOYEES_DEPARTMENT]
GO
ALTER TABLE [dbo].[EMPLOYEES]  WITH CHECK ADD  CONSTRAINT [FK_EMPLOYEES_DESIGNATION] FOREIGN KEY([EMP_BE], [EMP_BU], [EMP_DESG_CODE])
REFERENCES [dbo].[DESIGNATION] ([DESG_BE], [DESG_BU], [DESG_CODE])
GO
ALTER TABLE [dbo].[EMPLOYEES] CHECK CONSTRAINT [FK_EMPLOYEES_DESIGNATION]
GO
ALTER TABLE [dbo].[EMPLOYEES]  WITH CHECK ADD  CONSTRAINT [FK_EMPLOYEES_STATES] FOREIGN KEY([EMP_CUR_STATE])
REFERENCES [dbo].[STATES] ([STATE_CODE])
GO
ALTER TABLE [dbo].[EMPLOYEES] CHECK CONSTRAINT [FK_EMPLOYEES_STATES]
GO
ALTER TABLE [dbo].[FINANCIAL_PERIOD]  WITH CHECK ADD  CONSTRAINT [FK_FIN_PERIOD_BUS_ENTITIES] FOREIGN KEY([FP_BE])
REFERENCES [dbo].[BUS_ENTITIES] ([BE_ID])
GO
ALTER TABLE [dbo].[FINANCIAL_PERIOD] CHECK CONSTRAINT [FK_FIN_PERIOD_BUS_ENTITIES]
GO
ALTER TABLE [dbo].[FINANCIAL_YEAR]  WITH CHECK ADD  CONSTRAINT [FK_FIN_YEAR_BUS_ENTITIES] FOREIGN KEY([FY_BE])
REFERENCES [dbo].[BUS_ENTITIES] ([BE_ID])
GO
ALTER TABLE [dbo].[FINANCIAL_YEAR] CHECK CONSTRAINT [FK_FIN_YEAR_BUS_ENTITIES]
GO
ALTER TABLE [dbo].[LEAVE_REQUEST]  WITH CHECK ADD  CONSTRAINT [FK_LEAVE_REQUEST_EMPLOYEE] FOREIGN KEY([LR_BE], [LR_BU], [LR_EMP_CODE])
REFERENCES [dbo].[EMPLOYEES] ([EMP_BE], [EMP_BU], [EMP_CODE])
GO
ALTER TABLE [dbo].[LEAVE_REQUEST] CHECK CONSTRAINT [FK_LEAVE_REQUEST_EMPLOYEE]
GO
ALTER TABLE [dbo].[MANUAL_ATTENDANCE]  WITH CHECK ADD  CONSTRAINT [FK_MANUAL_ATTENDANCE_BUS_UNITS] FOREIGN KEY([MA_BE], [MA_BU])
REFERENCES [dbo].[BUS_UNITS] ([BU_BE], [BU_ID])
GO
ALTER TABLE [dbo].[MANUAL_ATTENDANCE] CHECK CONSTRAINT [FK_MANUAL_ATTENDANCE_BUS_UNITS]
GO
ALTER TABLE [dbo].[MANUAL_ATTENDANCE]  WITH CHECK ADD  CONSTRAINT [FK_MANUAL_ATTENDANCE_EMPLOYEES] FOREIGN KEY([MA_BE], [MA_BU], [MA_EMP_CODE])
REFERENCES [dbo].[EMPLOYEES] ([EMP_BE], [EMP_BU], [EMP_CODE])
GO
ALTER TABLE [dbo].[MANUAL_ATTENDANCE] CHECK CONSTRAINT [FK_MANUAL_ATTENDANCE_EMPLOYEES]
GO
ALTER TABLE [dbo].[PERMISSION_REQUEST]  WITH CHECK ADD  CONSTRAINT [FK_PERMISSION_REQUEST_EMPLOYEE] FOREIGN KEY([PR_BE], [PR_BU], [PR_EMP_CODE])
REFERENCES [dbo].[EMPLOYEES] ([EMP_BE], [EMP_BU], [EMP_CODE])
GO
ALTER TABLE [dbo].[PERMISSION_REQUEST] CHECK CONSTRAINT [FK_PERMISSION_REQUEST_EMPLOYEE]
GO
ALTER TABLE [dbo].[ROLE]  WITH CHECK ADD  CONSTRAINT [FK_ROLE_BUS_UNITS] FOREIGN KEY([ROLE_BE], [ROLE_BU])
REFERENCES [dbo].[BUS_UNITS] ([BU_BE], [BU_ID])
GO
ALTER TABLE [dbo].[ROLE] CHECK CONSTRAINT [FK_ROLE_BUS_UNITS]
GO
ALTER TABLE [dbo].[ROLE_ACCESS]  WITH CHECK ADD  CONSTRAINT [FK_ROLE_ACCESS_APPL_FORMS] FOREIGN KEY([RA_FORM_ID])
REFERENCES [dbo].[APPL_FORMS] ([AF_FORM_ID])
GO
ALTER TABLE [dbo].[ROLE_ACCESS] CHECK CONSTRAINT [FK_ROLE_ACCESS_APPL_FORMS]
GO
ALTER TABLE [dbo].[ROLE_ACCESS]  WITH CHECK ADD  CONSTRAINT [FK_ROLE_ACCESS_BUS_UNITS] FOREIGN KEY([RA_BE], [RA_BU])
REFERENCES [dbo].[BUS_UNITS] ([BU_BE], [BU_ID])
GO
ALTER TABLE [dbo].[ROLE_ACCESS] CHECK CONSTRAINT [FK_ROLE_ACCESS_BUS_UNITS]
GO
ALTER TABLE [dbo].[ROLE_ACCESS]  WITH CHECK ADD  CONSTRAINT [FK_ROLE_ACCESS_ROLE] FOREIGN KEY([RA_BE], [RA_BU], [RA_ROLE_ID])
REFERENCES [dbo].[ROLE] ([ROLE_BE], [ROLE_BU], [ROLE_ID])
GO
ALTER TABLE [dbo].[ROLE_ACCESS] CHECK CONSTRAINT [FK_ROLE_ACCESS_ROLE]
GO
ALTER TABLE [dbo].[SALARY_GROUP]  WITH CHECK ADD  CONSTRAINT [FK_SALARY_GROUP_BUS_UNITS] FOREIGN KEY([SG_BE], [SG_BU])
REFERENCES [dbo].[BUS_UNITS] ([BU_BE], [BU_ID])
GO
ALTER TABLE [dbo].[SALARY_GROUP] CHECK CONSTRAINT [FK_SALARY_GROUP_BUS_UNITS]
GO
ALTER TABLE [dbo].[STATES]  WITH CHECK ADD  CONSTRAINT [FK_STATE_COUNTRY] FOREIGN KEY([STATE_CNTRY_CODE])
REFERENCES [dbo].[COUNTRIES] ([CNTRY_CODE])
GO
ALTER TABLE [dbo].[STATES] CHECK CONSTRAINT [FK_STATE_COUNTRY]
GO
ALTER TABLE [dbo].[USER_CREATION]  WITH CHECK ADD  CONSTRAINT [FK_USER_CREATION_BUS_UNITS] FOREIGN KEY([USER_BE], [USER_BU])
REFERENCES [dbo].[BUS_UNITS] ([BU_BE], [BU_ID])
GO
ALTER TABLE [dbo].[USER_CREATION] CHECK CONSTRAINT [FK_USER_CREATION_BUS_UNITS]
GO
ALTER TABLE [dbo].[USER_CREATION]  WITH CHECK ADD  CONSTRAINT [FK_USER_CREATION_ROLE] FOREIGN KEY([USER_BE], [USER_BU], [USER_ROLE_ID])
REFERENCES [dbo].[ROLE] ([ROLE_BE], [ROLE_BU], [ROLE_ID])
GO
ALTER TABLE [dbo].[USER_CREATION] CHECK CONSTRAINT [FK_USER_CREATION_ROLE]
GO
ALTER TABLE [dbo].[WEEK_ENDS]  WITH CHECK ADD  CONSTRAINT [FK_WEEK_ENDS_HD] FOREIGN KEY([WE_BE], [WE_BU], [WE_YEAR], [WE_CAL_NO])
REFERENCES [dbo].[WORK_DAY_CALENDAR_HD] ([WDCH_BE], [WDCH_BU], [WDCH_YEAR], [WDCH_DOC_NO])
GO
ALTER TABLE [dbo].[WEEK_ENDS] CHECK CONSTRAINT [FK_WEEK_ENDS_HD]
GO
ALTER TABLE [dbo].[WORK_DAY_CALENDAR_HD]  WITH CHECK ADD  CONSTRAINT [PK_WORK_DAY_CALENDAR_HD_BUS_UNITS] FOREIGN KEY([WDCH_BE], [WDCH_BU])
REFERENCES [dbo].[BUS_UNITS] ([BU_BE], [BU_ID])
GO
ALTER TABLE [dbo].[WORK_DAY_CALENDAR_HD] CHECK CONSTRAINT [PK_WORK_DAY_CALENDAR_HD_BUS_UNITS]
GO
ALTER TABLE [dbo].[WORK_DAY_CALENDAR_HOLIDAYS]  WITH CHECK ADD  CONSTRAINT [FK_WORK_DAY_CALENDAR_HOLIDAYS_HD] FOREIGN KEY([WDCHO_BE], [WDCHO_BU], [WDCHO_YEAR], [WDCHO_DOC_NO])
REFERENCES [dbo].[WORK_DAY_CALENDAR_HD] ([WDCH_BE], [WDCH_BU], [WDCH_YEAR], [WDCH_DOC_NO])
GO
ALTER TABLE [dbo].[WORK_DAY_CALENDAR_HOLIDAYS] CHECK CONSTRAINT [FK_WORK_DAY_CALENDAR_HOLIDAYS_HD]
GO
ALTER TABLE [dbo].[WORK_DAY_CALENDAR_LN]  WITH CHECK ADD  CONSTRAINT [FK_WORK_DAY_CALENDAR_HD] FOREIGN KEY([WDCL_BE], [WDCL_BU], [WDCL_YEAR], [WDCL_DOC_NO])
REFERENCES [dbo].[WORK_DAY_CALENDAR_HD] ([WDCH_BE], [WDCH_BU], [WDCH_YEAR], [WDCH_DOC_NO])
GO
ALTER TABLE [dbo].[WORK_DAY_CALENDAR_LN] CHECK CONSTRAINT [FK_WORK_DAY_CALENDAR_HD]
GO
